.Main {
  aspect-ratio: 16 / 9;
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.Itoshindo {
  max-width: 1200px;
  padding-top: 120px;
  margin-inline: auto;
  padding-inline: 20px;
  display: grid;
  gap: 80px;
  width: max-content;

  section {
    display: grid;
    gap: 40px;
    width: 100%;
  }

  .Items {
    display: grid;
    gap: 40px;
    width: 100%;
    place-items: center;
    &.center {
      margin-inline: auto;
    }
    &.between {
      grid-template-columns: 1fr 1fr;
    }
  }

  .Item {
    display: grid;
    gap: 40px;
    .live {
      width: 550px;
      aspect-ratio: 495 / 371;
    }
    &.large {
      width: 511px;
    }
    iframe {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .Important {
    place-items: center;

    .text {
      line-height: 2;
    }
  }

  .Time {
    .texts {
      display: grid;
      gap: 20px;
      margin-inline: auto;
      margin-top: 60px;
    }
    .title {
      text-align: center;
      font-size: 2rem;
    }
    .text {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }

  .Period {
    place-items: center;
    .title {
      font-size: 3rem;
    }
    .text {
      text-align: center;
      line-height: 2;
    }
  }

  .Caution {
    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      li {
        display: grid;
        gap: 30px;
        text-align: center;
        height: max-content;
        max-width: 360px;
        figure {
          aspect-ratio: 1 / 1;
          max-height: 360px;
          display: block;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .Contact {
    text-align: center;
    a {
      font-size: 5rem;
      display: block;
      text-align: center;
      line-height: 1;
    }
    .text {
      font-size: 1.5rem;
      margin-top: -20px;
    }
  }

  .Guide {
    .lead {
      font-size: 1.5rem;
      text-align: center;
    }
    .list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      li {
        a {
          display: grid;
          gap: 30px;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          &::after {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212.742%22%20height%3D%2212.742%22%20viewBox%3D%220%200%2012.742%2012.742%22%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Crect%20width%3D%2212.742%22%20height%3D%2212.742%22%20fill%3D%22%23fff%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%20clip-path%3D%22url(%23a)%22%3E%3Cpath%20d%3D%22M.7%2C42.969a.706.706%2C0%2C0%2C1-.7-.7V32.111a.706.706%2C0%2C0%2C1%2C.7-.7H5.462v1.41H1.41V41.56h8.744V37.508h1.41v4.757a.7.7%2C0%2C0%2C1-.7.7Z%22%20transform%3D%22translate(0%20-30.227)%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M125.113%2C8.072a.63.63%2C0%2C0%2C1-.449-.185.651.651%2C0%2C0%2C1%2C.012-.919l5.8-5.8-3.026-.025a.571.571%2C0%2C0%2C1-.415-.959.565.565%2C0%2C0%2C1%2C.42-.184l4.775.041a.285.285%2C0%2C0%2C1%2C.281.281l.042%2C4.77a.571.571%2C0%2C0%2C1-.57.577l-.047%2C0a.568.568%2C0%2C0%2C1-.526-.565l-.026-3.026-5.8%2C5.8a.662.662%2C0%2C0%2C1-.47.2%22%20transform%3D%22translate(-119.808%20-0.001)%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Main {
    height: 100vh;
    width: 100%;
    position: relative;
    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .Itoshindo {
    max-width: unset;
    padding-top: 60px;
    margin-inline: unset;
    gap: 80px;
    width: 100%;

    section {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 100%;
    }

    .Items {
      display: grid;
      gap: 40px;
      &.center {
        margin-inline: unset;
      }
      &.between {
        grid-template-columns: 1fr;
      }
    }

    .Item {
      display: grid;
      gap: 40px;
      width: 100%;
      .live {
        width: 100%;
        aspect-ratio: 495 / 371;
      }
      &.large {
        width: 100%;
      }
      iframe {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }

    .Important {
      place-items: center;

      .text {
        font-size: 1.5rem;
      }
    }

    .Time {
      .texts {
        display: grid;
        gap: 20px;
        margin-inline: auto;
        margin-top: 60px;
      }
      .title {
        text-align: center;
        font-size: 1.8rem;
      }
      .text {
        display: flex;
        align-items: center;
        gap: 40px;
        font-size: 1.5rem;
      }
      .img {
        img {
          width: 100%;
        }
      }
    }

    .Period {
      place-items: center;
      .title {
        font-size: 3rem;
      }
      .text {
        text-align: center;
        line-height: 2;
        font-size: 1.5rem;
      }
    }

    .Caution {
      .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        li {
          display: grid;
          gap: 20px;
          text-align: left;
          height: unset;
          max-width: unset;
          .text {
            font-size: 1.5rem;
          }
          figure {
            aspect-ratio: 1 / 1;
            max-height: unset;
            display: block;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .Contact {
      a {
        font-size: 2.5rem;
      }
      .text {
        font-size: 1.5rem;
      }
    }

    .Guide {
      .lead {
        text-align: left;
      }
      .list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        li {
          a {
            display: grid;
            gap: 20px;
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            &::after {
              content: "";
              display: block;
              width: 12px;
              height: 12px;
              background-repeat: no-repeat;
              background-size: cover;
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212.742%22%20height%3D%2212.742%22%20viewBox%3D%220%200%2012.742%2012.742%22%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Crect%20width%3D%2212.742%22%20height%3D%2212.742%22%20fill%3D%22%23fff%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%20clip-path%3D%22url(%23a)%22%3E%3Cpath%20d%3D%22M.7%2C42.969a.706.706%2C0%2C0%2C1-.7-.7V32.111a.706.706%2C0%2C0%2C1%2C.7-.7H5.462v1.41H1.41V41.56h8.744V37.508h1.41v4.757a.7.7%2C0%2C0%2C1-.7.7Z%22%20transform%3D%22translate(0%20-30.227)%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M125.113%2C8.072a.63.63%2C0%2C0%2C1-.449-.185.651.651%2C0%2C0%2C1%2C.012-.919l5.8-5.8-3.026-.025a.571.571%2C0%2C0%2C1-.415-.959.565.565%2C0%2C0%2C1%2C.42-.184l4.775.041a.285.285%2C0%2C0%2C1%2C.281.281l.042%2C4.77a.571.571%2C0%2C0%2C1-.57.577l-.047%2C0a.568.568%2C0%2C0%2C1-.526-.565l-.026-3.026-5.8%2C5.8a.662.662%2C0%2C0%2C1-.47.2%22%20transform%3D%22translate(-119.808%20-0.001)%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
            }
          }
        }
      }
    }
  }
}
