.Filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 20px;
  margin-top: 48px;

  &_search {
    position: relative;
    input {
      margin-left: 14px;
      border: 1px solid $white;
      border-radius: 100vh;
      width: 262px;
      height: 47px;
      padding-inline: 20px 40px;
    }
    &:after {
      display: block;
      content: "";
      background-image: url(../../img/ico_search.svg);
      width: 15px;
      height: 15px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }
  }
}

@include breakPoint(sp) {
  .Filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    &_search {
      width: 100%;
      margin-top: 12px;
      input {
        margin-left: unset;
        width: 100%;
        padding-inline: 20px;
      }
    }
  }
}
