.InfoList {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 100px 0;

  &_item {
    .Tags {
      margin-top: 40px;
      margin-left: 190px;
    }
  }

  &_link {
    position: relative;
    display: flex;
    grid-template-columns: 190px 1fr;
    padding-right: 120px;
    &:after {
      position: absolute;
      top: 1.5rem;
      right: 10px;
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 10px;
      border-top: 2px solid $white;
      border-right: 2px solid $white;
      transform: rotate(45deg);
    }

    .date {
      width: 190px;
    }

    .text {
      font-size: $text-25;
      flex: 1;
    }
  }
}

@include breakPoint(tablet) {
  .InfoList {
    &_link {
      &:after {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
    }

    .date {
      margin-top: unset;
      margin-bottom: 1rem;
    }
  }
}

@include breakPoint(sp) {
  .InfoList {
    margin-top: 50px;
    gap: 60px 0;
    &_link {
      padding-right: 60px;
      flex-direction: column;
      .text {
        font-size: $text-20;
      }
    }
    &_item {
      .Tags {
        margin-top: 30px;
        margin-left: 0;
      }
    }
  }

  .text {
    font-size: $text-20;
  }
}
