<ul class="BlogList">
  <li class="BlogList_item">
    <div class="contents">
      <div class="BlogList_link">
        <p class="date">2023.00.00</p>
        <div class="text">
          <a href="#">このテキストはダミーです。このテキストはダミーです。</a>
          <ul class="Tags">
            <li><a href="#">#三俣山荘</a></li>
            <li><a href="#">#三俣山荘</a></li>
            <li><a href="#">#三俣山荘</a></li>
          </ul>
        </div>
      </div>
      <a href="#">
        <figure class="image">
          <img src="/img/dummy_top_thumbnail.png" alt="">
        </figure>
      </a>
    </div>
  </li>
</ul>