<ul class="FeatureList">
  <li class="FeatureList_item">
    <a href="#" class="FeatureList_link">
      <div class="text">
        <p>再生可能エネルギーのみで自立する循環型ゼロカーボン 山小屋の構想</p>
      </div>
      <figure class="image">
        <img src="/img/dummy_top_thumbnail.jpg" alt="">
      </figure>
    </a>
  </li>
  <li class="FeatureList_item">
    <a href="#" class="FeatureList_link">
      <div class="text">
        <p>再生可能エネルギーのみで自立する循環型ゼロカーボン 山小屋の構想</p>
      </div>
      <figure class="image">
        <img src="/img/dummy_top_thumbnail.jpg" alt="">
      </figure>
    </a>
  </li>
  <li class="FeatureList_item">
    <a href="#" class="FeatureList_link">
      <div class="text">
        <p>再生可能エネルギーのみで自立する循環型ゼロカーボン 山小屋の構想</p>
      </div>
      <figure class="image">
        <img src="/img/dummy_top_thumbnail.jpg" alt="">
      </figure>
    </a>
  </li>
  <li class="FeatureList_item">
    <a href="#" class="FeatureList_link">
      <div class="text">
        <p>再生可能エネルギーのみで自立する循環型ゼロカーボン 山小屋の構想</p>
      </div>
      <figure class="image">
        <img src="/img/dummy_top_thumbnail.jpg" alt="">
      </figure>
    </a>
  </li>
  <li class="FeatureList_item">
    <a href="#" class="FeatureList_link">
      <div class="text">
        <p>再生可能エネルギーのみで自立する循環型ゼロカーボン 山小屋の構想</p>
      </div>
      <figure class="image">
        <img src="/img/dummy_top_thumbnail.jpg" alt="">
      </figure>
    </a>
  </li>
</ul>