<ul class="InfoList InfoList-image">
  <li class="InfoList_item">
    <a href="#" class="InfoList_link">
      <div class="contents">
        <p class="date">2023.00.00</p>
        <div class="text">
          <p>再生可能エネルギーのみで自立する循環型ゼロカーボン 山小屋の構想</p>
          <span>カテゴリー</span>
        </div>
      </div>
      <figure class="image">
        <img src="/img/dummy_top_thumbnail.png" alt="">
      </figure>
    </a>
  </li>
  <li class="InfoList_item">
    <a href="#" class="InfoList_link">
      <div class="contents">
        <p class="date">2023.00.00</p>
        <div class="text">
          <p>再生可能エネルギーのみで自立する循環型ゼロカーボン 山小屋の構想</p>
          <span>カテゴリー</span>
        </div>
      </div>
      <figure class="image">
        <img src="/img/dummy_top_thumbnail.png" alt="">
      </figure>
    </a>
  </li>
  <li class="InfoList_item">
    <a href="#" class="InfoList_link">
      <div class="contents">
        <p class="date">2023.00.00</p>
        <div class="text">
          <p>再生可能エネルギーのみで自立する循環型ゼロカーボン 山小屋の構想</p>
          <span>カテゴリー</span>
        </div>
      </div>
      <figure class="image">
        <img src="/img/dummy_top_thumbnail.png" alt="">
      </figure>
    </a>
  </li>
  <li class="InfoList_item">
    <a href="#" class="InfoList_link">
      <div class="contents">
        <p class="date">2023.00.00</p>
        <div class="text">
          <p>再生可能エネルギーのみで自立する循環型ゼロカーボン 山小屋の構想</p>
          <span>カテゴリー</span>
        </div>
      </div>
      <figure class="image">
        <img src="/img/dummy_top_thumbnail.png" alt="">
      </figure>
    </a>
  </li>
</ul>