<div class="LodgeInfo">
  <h3 class="ContentsTitle ContentsTitle-center ContentsTitle-small">山小屋案内<span>MOUNTAIN HUT INFORMATION</span></h3>
  <ul class="LodgeInfo_list">
    <li class="LodgeInfo_item LodgeInfo_item-mitsumata">
      <div class="LodgeInfo_contents">
        <img src="/img/logo_group_mitsumata_white.svg" alt="三俣山荘">
        <div class="LodgeInfo_links">
          <a href="/mitsumata/info/" class="LodgeInfo_link">
            <img src="/img/ico_note.svg" alt="">
            <p>宿泊情報</p>
          </a>
          <a href="/mitsumata/guide/" class="LodgeInfo_link">
            <img src="/img/ico_sign.svg" alt="">
            <p>三俣山荘の魅力</p>
          </a>
        </div>
      </div>
    </li>
    <li class="LodgeInfo_item LodgeInfo_item-suisho">
      <div class="LodgeInfo_contents">
        <img src="/img/logo_group_suisho_white.svg" alt="水晶小屋">
        <div class="LodgeInfo_links">
          <a href="/suisho/info/" class="LodgeInfo_link">
            <img src="/img/ico_note.svg" alt="">
            <p>宿泊情報</p>
          </a>
          <a href="/suisho/guide/" class="LodgeInfo_link">
            <img src="/img/ico_sign.svg" alt="">
            <p>水晶小屋の魅力</p>
          </a>
        </div>
      </div>
    </li>
    <li class="LodgeInfo_item LodgeInfo_item-yumata">
      <div class="LodgeInfo_contents">
        <img src="/img/logo_group_yumata_white.svg" alt="湯俣山荘">
        <div class="LodgeInfo_links">
          <a href="/yumata/info/" class="LodgeInfo_link">
            <img src="/img/ico_note.svg" alt="">
            <p>宿泊情報</p>
          </a>
          <a href="/yumata/guide/" class="LodgeInfo_link">
            <img src="/img/ico_sign.svg" alt="">
            <p>湯俣山荘の魅力</p>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>