<div class="Menu">
  <div class="Menu_contents">
    <a href="/" class="Title Title-menu">
      <h1>
        北アルプス黒部源流
      </h1>
      <span class="Text-small">Northern Alps Kurobe Genryu</span>
    </a>
    <div class="Menu_list">
      <ul>
        <li class="Menu_listItem Menu_expand">
          <p class="Menu_title">三俣山荘</p>
          <ul class="Menu_innerList">
            <li><a href="/mitsumata/info/">宿泊情報</a></li>
            <li><a href="/mitsumata/guide/">三俣山荘の魅力</a></li>
          </ul>
        </li>
        <li class="Menu_listItem Menu_expand">
          <p class="Menu_title">水晶小屋</p>
          <ul class="Menu_innerList">
            <li><a href="/suisho/info/">宿泊情報</a></li>
            <li><a href="/suisho/guide/">水晶小屋の魅力</a></li>
          </ul>
        </li>
        <li class="Menu_listItem Menu_expand">
          <p class="Menu_title">湯俣山荘</p>
          <ul class="Menu_innerList">
            <li><a href="/yumata/info/">宿泊情報</a></li>
            <li><a href="/yumata/guide/">湯俣山荘の魅力</a></li>
          </ul>
        </li>
        <li class="Menu_listItem">
          <a class="Menu_text" href="/itoshindo/">伊藤新道</a>
        </li>
      </ul>
      <ul class="">
        <li class="Menu_listItem">
          <a class="Menu_text" href="/feature/">特集</a>
        </li>
        <li class="Menu_listItem">
          <a class="Menu_text" href="/news/">お知らせ</a>
        </li>
        <li class="Menu_listItem">
          <a class="Menu_text" href="/company/">三俣⼭荘事務所</a>
        </li>
        <li class="Menu_listItem">
          <a class="Menu_text" href="/contact/">お問い合わせ</a>
        </li>
      </ul>
      <ul>
        <li class="Menu_listItem">
          <a class="Menu_text" href="https://neoalps.com/" target="_blank">ネオアルプス</a>
        </li>
        <li class="Menu_listItem">
          <a class="Menu_text" href="https://neoalps.base.shop/" target="_blank">ネオアルプスオンラインストア</a>
        </li>
        <li class="Menu_follow">
          <p>
            Follow us
          </p>
          {{> sns}}
        </li>
      </ul>
    </div>
  </div>
  <button class="Menu_close" type="button"></button>
</div>