<meta charset="UTF-8" />
<title>{{title}}</title>
<meta name="description" content="{{description}}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:title" content="{{title}}">
<meta property="og:site_name" content="北アルプス黒部源流">
<meta property="og:description" content="{{description}}">
<meta property="og:url" content="https://kumonodaira.net/">
<meta property="og:image" content="/img/ogp/ogp.png">
<meta property="og:type" content="article">
<link rel="icon" href="/img/favicon.ico">
<link rel="stylesheet" href="/scss/style.scss">