<ul class="InfoList">
  <li class="InfoList_item">
    <a href="#" class="InfoList_link">
      <p class="date">2023.00.00</p>
      <div class="text">
        <p>このテキストはダミーです。このテキストはダミーです。</p>
      </div>
    </a>
    <ul class="Tags">
      <li><a href="#">#三俣山荘</a></li>
      <li><a href="#">#三俣山荘</a></li>
      <li><a href="#">#三俣山荘</a></li>
    </ul>
  </li>
  <li class="InfoList_item">
    <a href="#" class="InfoList_link">
      <p class="date">2023.00.00</p>
      <div class="text">
        <p>このテキストはダミーです。このテキストはダミーです。</p>
      </div>
    </a>
    <ul class="Tags">
      <li><a href="#">#三俣山荘</a></li>
      <li><a href="#">#三俣山荘</a></li>
      <li><a href="#">#三俣山荘</a></li>
    </ul>
  </li>
  <li class="InfoList_item">
    <a href="#" class="InfoList_link">
      <p class="date">2023.00.00</p>
      <div class="text">
        <p>このテキストはダミーです。このテキストはダミーです。</p>
      </div>
    </a>
    <ul class="Tags">
      <li><a href="#">#三俣山荘</a></li>
      <li><a href="#">#三俣山荘</a></li>
      <li><a href="#">#三俣山荘</a></li>
    </ul>
  </li>
  <li class="InfoList_item">
    <a href="#" class="InfoList_link">
      <p class="date">2023.00.00</p>
      <div class="text">
        <p>このテキストはダミーです。このテキストはダミーです。</p>
      </div>
    </a>
    <ul class="Tags">
      <li><a href="#">#三俣山荘</a></li>
      <li><a href="#">#三俣山荘</a></li>
      <li><a href="#">#三俣山荘</a></li>
    </ul>
  </li>
</ul>