.Button {
  display: block;
  border: 1px solid $white;
  display: flex;
  align-items: center;
  justify-content: center;

  &_circle {
    border-radius: 100vh;
    width: 175px;
    height: 175px;
    flex-direction: column;
    transition: all 0.3s;
    p {
      margin-top: 10px;
      text-align: center;
      line-height: 1.8;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }

  &_square {
    width: 396px;
    height: 65px;
    position: relative;
    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 8px solid $white;
      border-right: 0;
      top: 50%;
      transform: translateY(-50%);
      right: 24px;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background: $white;
      transform-origin: 100% 50%;
      transform: scaleX(0);
      transition: transform ease 0.3s;
    }
    &:hover {
      color: $black;
    }
    &:hover::before {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }

    &:hover::after {
      border-left-color: $black;
    }
  }

  &_toForm {
    height: 248px;
    margin-inline: auto;
    font-size: $text-43;
    display: flex;
    align-items: center;
    gap: 0 40px;
    margin-top: 300px;
    transition: all 0.3s;
    img {
      width: 48px;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }

  &_contact {
    border: unset;
    background-color: $red;
    font-size: $text-20;
    width: 300px;
    height: 60px;
    margin: 80px auto 0;
  }
}

@include breakPoint(sp) {
  .Button {
    &_square {
      width: 335px;
    }
    &_circle {
      display: none;
    }
    &_toForm {
      width: 335px;
      height: 70px;
      font-size: $text-14;
      gap: 0 16px;
      margin-top: 200px;
      img {
        width: 16px;
      }
    }
  }
}
